h1 {
    color: rgb(0, 112, 210);
}
p {
    font-family: 'Salesforce Sans', Arial, sans-serif;
    color: rgb(62, 62, 60);
}
.MyTriggersViewer {
    background-color: #fafaf9;
    height: 100vh;
    overflow: scroll;
}